* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body-padding: 50px;
    --background-colored: #0e0f11;
    --background-default: #f7f7f7;
    --default-color: #000;
    --head-foot-color: #fff;
    --head-foot-padding: 20px var(--body-padding);
}

/* Containers */

body {
    background-color: var(--background-default);
    color: var(--default-color);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

nav {
    background-color: var(--head-foot-color);
    font-size: 1rem;
    padding: var(--head-foot-padding);
    position: sticky;
    top: 0;
}

menu {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

section {
    font-size: 2.3rem;
    font-weight: 600;
}

footer {
    background-color: var(--head-foot-color);
    padding: var(--head-foot-padding);
    text-align: right;
}

/* Elements */

p,
ul {
    margin: 1em 0;
}

ul {
    padding-left: 40px;
}

img {
    width: 100%;
}

li {
    font-size: 18pt;
    line-height: 1.5;
}

/* Specifics */

/* Join text */

.join-arrow {
    margin-right: 20px;
}

.join {
    text-decoration-color: #551a8b;
    text-underline-offset: 3px;
}

/* Navbar */

nav li {
    display: inline;
    font-size: 1rem;
    font-weight: 600;
}

nav li:first-child {
    font-weight: 750;
}

nav li:not(:first-child)::before {
    content: "|";
    margin-left: 5px;
    font-weight: 750;
}

.menu-link {
    color: var(--default-color);
    text-decoration: none;
}

/* Content sections */

.colored-section {
    background-color: var(--background-colored);
    color: #fff9;
}

.colored-section strong {
    color: #fff;
}

.default-section {
    color: #00000073;
}

.default-section strong {
    color: var(--default-color);
}

.section-block {
    padding: 20px var(--body-padding);
}

.section-right {
    padding-right: 30%;
}

section ul {
    column-count: 2;
}

/* Animations */

.fade {
    animation: fadein 2s ease-out;
    display: inline-block;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
}

.slide {
    animation: slidein 2s;
    position: relative;
    z-index: -1;
}

@keyframes slidein {
    from {
        opacity: .75;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
    :root {
        --background-colored: #0e0f11;
        --background-default: #121212;
        --default-color: #fff;
        --head-foot-color: #000;
    }

    nav {
        background-color: #000;
    }

    .default-section {
        color: #fff9;
    }
}

/* Misc media */

@media (max-width: 700px) {
    :root {
        --body-padding: 30px;
    }

    section {
        font-size: 1.8rem;
    }

    section ul {
        column-count: 1;
    }

    .section-right {
        padding-right: var(--body-padding);
    }

    #water {
        padding: 0 10px 5px;
    }
}
